.wp-block-wporg-nav-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	overflow-x: hidden;
	gap: 20px;

	@media screen and ( min-width: 600px ) {
		flex-wrap: nowrap;

		& > nav {
			width: unset;
		}

		& .wp-block-navigation__container {
			flex-wrap: nowrap;

			& li {
				white-space: nowrap;
			}
		}
	}
}
