@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	src: url(./Inter/Inter.woff2?v=3.19) format("woff2");
}

@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	src: url(./Inter/Inter-Italic.woff2?v=3.19) format("woff2");
}

@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-display: swap;
	font-style: normal;
	src: url(./EB-Garamond/EB-Garamond.ttf?v=0.017) format("truetype");
}

@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-display: swap;
	font-style: italic;
	src: url(./EB-Garamond/EB-Garamond-Italic.ttf?v=0.017) format("truetype");
}
