/*--------------*
 *  Newsreader  *
 *--------------*/

/* cyrillic-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Newsreader/Newsreader-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*----------------------*
 *  Newsreader, Italic  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Newsreader;
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url(./Newsreader/Newsreader-Italic-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}


/*-----------------*
 *  Anton-Regular  *
 *-----------------*/

/* cyrillic-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-cyrillic-ext.woff2) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-greek.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-vietnamese.woff2) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Anton;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Anton/Anton-Regular-arrows.woff2) format("woff2");
	unicode-range: U+2190-2199;
}

/*------------------------*
 *  CourierPrime-Regular  *
 *------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-cyrillic-ext.woff2?ver=4ecb2879668a) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-cyrillic.woff2?ver=4ecb2879668a) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-greek-ext.woff2?ver=4ecb2879668a) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-greek.woff2?ver=eba1f8ff4da0) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-vietnamese.woff2?ver=da75b869896c) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-latin-ext.woff2?ver=2aad680866fd) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "Courier Prime";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Regular-latin.woff2?ver=7b9aa715ce49) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*------------------------*
 *  CourierPrime-Bold  *
 *------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-cyrillic-ext.woff2?ver=c11c7999d78e) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-cyrillic.woff2?ver=c11c7999d78e) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-greek-ext.woff2?ver=c11c7999d78e) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-greek.woff2?ver=ba79634e2cd8) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-vietnamese.woff2?ver=180aa42496b5) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-latin-ext.woff2?ver=94527d576afd) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "Courier Prime";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./CourierPrime/CourierPrime-Bold-latin.woff2?ver=01c037d9e0a1) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*---------*
 *  Inter  *
 *---------*/

/* cyrillic-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-cyrillic-ext.woff2?ver=870d267d091f) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-cyrillic.woff2?ver=2e1f0e6a6eda) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-greek-ext.woff2?ver=f1fb719a6429) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-greek.woff2?ver=8fb4801a481e) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-vietnamese.woff2?ver=ec198636627a) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-latin-ext.woff2?ver=802f9ad48332) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-latin.woff2?ver=b07a289bdf69) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: Inter;
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url(./Inter/Inter-arrows.woff2?ver=63555c379a62) format("woff2");
	unicode-range: U+2190-2199;
}


/*---------------*
 *  EB Garamond  *
 *---------------*/

/* cyrillic-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-cyrillic-ext.woff2?ver=8176ef6e06a1) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-cyrillic.woff2?ver=1af56bf0af64) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-greek-ext.woff2?ver=d3bd499d027a) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-greek.woff2?ver=ec834832b30b) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-vietnamese.woff2?ver=30eaef521e8a) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-latin-ext.woff2?ver=a08861311328) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-latin.woff2?ver=2c7bc866cb03) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-arrows.woff2?ver=943d7defaf99) format("woff2");
	unicode-range: U+2190-2199;
}


/*-----------------------*
 *  EB Garamond, Italic  *
 *-----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-cyrillic-ext.woff2?ver=7808b24a969c) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-cyrillic.woff2?ver=766320cf480d) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-greek-ext.woff2?ver=5c9c07959839) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-greek.woff2?ver=9cdc7745aab9) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-vietnamese.woff2?ver=47ae16ca8ebd) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-latin-ext.woff2?ver=cdaf0905fb1c) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "EB Garamond";
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
	src: url(./EB-Garamond/EBGaramond-Italic-latin.woff2?ver=b6b388074e82) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*----------------------------*
 *  IBM Plex Mono ExtraLight  *
 *----------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-cyrillic-ext.woff2?ver=99488ab1f1b4) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-cyrillic.woff2?ver=370513b21aa8) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-vietnamese.woff2?ver=04a172643c2d) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-latin-ext.woff2?ver=1214d6939808) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLight-latin.woff2?ver=075de20a9833) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*------------------------------------*
 *  IBM Plex Mono ExtraLight, Italic  *
 *------------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-cyrillic-ext.woff2?ver=f67b80c3648c) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-cyrillic.woff2?ver=51c4ca00cdb0) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-vietnamese.woff2?ver=632a48e3ba8e) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-latin-ext.woff2?ver=454bc3623abc) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-ExtraLightItalic-latin.woff2?ver=38cfc7b0cee7) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-----------------*
 *  IBM Plex Mono  *
 *-----------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-cyrillic-ext.woff2?ver=d5b4785e465e) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-cyrillic.woff2?ver=dbae9f565349) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-vietnamese.woff2?ver=0aa3dc1ec47b) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-latin-ext.woff2?ver=139e6cd03358) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Regular-latin.woff2?ver=8ddc86b0ebf4) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*-------------------------*
 *  IBM Plex Mono, Italic  *
 *-------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-cyrillic-ext.woff2?ver=c415eab9d09e) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-cyrillic.woff2?ver=c586ce96eb42) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-vietnamese.woff2?ver=0b8d65223f8f) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-latin-ext.woff2?ver=bb87d332affb) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Italic-latin.woff2?ver=b8d4f3563cf8) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*----------------------*
 *  IBM Plex Mono Medium  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-cyrillic-ext.woff2?ver=431d255a3afa) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-cyrillic.woff2?ver=beb561f0d2e7) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-greek-ext.woff2?ver=49bf3255c571) format("woff2");
	unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-greek.woff2?ver=6152b28764d6) format("woff2");
	unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-vietnamese.woff2?ver=c58ce4527d80) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-latin-ext.woff2?ver=4ace19a3c116) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-latin.woff2?ver=44150b50e9d4) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* arrows */
@font-face {
	font-family: IBM Plex Mono;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Medium-arrows.woff2?ver=e9f571cc6a63) format("woff2");
	unicode-range: U+2190-2199;
}

/*----------------------*
 *  IBM Plex Mono Bold  *
 *----------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-cyrillic-ext.woff2?ver=d20781be5b07) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-cyrillic.woff2?ver=c6178ab7258f) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-vietnamese.woff2?ver=5e8388bb91ff) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-latin-ext.woff2?ver=ac5ae799cb8f) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-Bold-latin.woff2?ver=59cad49c271e) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*------------------------------*
 *  IBM Plex Mono Bold, Italic  *
 *------------------------------*/

/* cyrillic-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-cyrillic-ext.woff2?ver=acd7ea8d0d94) format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-cyrillic.woff2?ver=20d5b885400b) format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-vietnamese.woff2?ver=a005afe26029) format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-latin-ext.woff2?ver=580700b45e3a) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "IBM Plex Mono";
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url(./IBMPlexMono/IBMPlexMono-BoldItalic-latin.woff2?ver=a96c20e7edc2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+FEFF, U+FFFD;
}

