.wporg-modal__modal {
	border: 1px dashed #000;
	padding: 8px;
}

.wp-block-wporg-modal.is-selected .wporg-modal__modal,
.wp-block-wporg-modal.has-child-selected .wporg-modal__modal {
	display: block;
}
