.wporg-multisite-latest-posts {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wporg-multisite-latest-posts li:not(:last-child) {
	padding-bottom: var(--wp--custom--multisite-latests-post--spacing, 16px);
}

.wporg-multisite-latest-posts li a {
	text-decoration: none;
}

.wporg-multisite-latest-posts li a:hover {
	text-decoration: underline;
}

.wporg-multisite-latest-posts li > a {
	display: block;
	margin-bottom: var(--wp--custom--multisite-latests-post--link--spacing, 4px);
	color: var(--wp--custom--multisite-latests-post--link--color);
	font-family: var(--wp--custom--multisite-latests-post--title--font-family);
	font-size: var(--wp--custom--multisite-latests-post--title--font-size, 24px);
	line-height: var(--wp--custom--multisite-latests-post--title--line-height);
}

.wporg-multisite-latest-posts li > div {
	font-size: var(--wp--custom--multisite-latests-post--link--details-font-size, 14px);
}

.wporg-multisite-latest-posts-category {
	text-transform: uppercase;
}
