.wp-block-group.site-footer {
	padding: 44px var(--wp--custom--alignment--edge-spacing);

	@media (--tablet) {
		padding-top: 69px;
		padding-bottom: 58px;
	}

	& > .site-footer__navigation-container {
		max-width: 100%;
		display: grid;
		grid-gap: 20px;

		/* Create columns automatically, make them equal widths, wrap when needed. */
		grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	}
}
